# Mise configuration — user-space development tools
# Tools are installed by `run_after_20-provision.sh` via `mise install`
# See: https://mise.jdx.dev/registry.html

[tools]
### Common tools (all platforms) ###
"core:python" = "3.13"
"core:rust" = "1.95"
"core:node" = "26"
"core:java" = "latest"
"vfox:mise-plugins/vfox-lua" = "5.1"

"aqua:neovim/neovim" = "0.11.6"
# "aqua:restic/restic" = "latest"
"conda:make" = "latest"
"aqua:starship/starship" = "latest"
"cargo:dysk" = { version = "latest", depends = ["core:rust", "conda:make"] }
"aqua:atuinsh/atuin" = "latest"
"asdf:mise-plugins/mise-tinytex" = "latest"

# Shell utils and "upgrades"
"aqua:BurntSushi/ripgrep" = "latest"
"aqua:junegunn/fzf" = "latest"
"aqua:sharkdp/fd" = "latest"
"aqua:eza-community/eza" = "latest"
"aqua:ajeetdsouza/zoxide" = "latest"
"aqua:tldr-pages/tlrc" = "latest"
"aqua:sharkdp/bat" = "latest"
"aqua:fastfetch-cli/fastfetch" = "latest"
###

### Linux-only tools ###
"aqua:pypa/pipx" = { version = "1.12", depends = ["core:python"], os = ["linux"] }
"ansible" = { version = "13", depends = ["aqua:pypa/pipx"], pipx_args = "--include-deps", uvx = false, os = ["linux"] }
# "aqua:aristocratos/btop" = { version = "latest", os = ["linux"] }
"conda:vim" = { version = "latest", os = ["linux"] }
###

### Windows-only tools ###
powershell = { version = "latest", os = ["windows"] }
###

{{- if has "development" .categories }}
### Development-only tools ###
# "core:go" = "1.26"
# "aqua:jesseduffield/lazygit" = "latest"
# "aqua:jesseduffield/lazydocker" = { version = "latest", os = ["linux"] }
# "aqua:anomalyco/opencode" = "latest"
###
{{- end}}

[settings]
idiomatic_version_file_enable_tools = ["node"]
