# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
# WinGet Configuration File (DSC)
# Used on Windows Native to declaratively install packages and configure settings
# See: https://learn.microsoft.com/en-us/windows/package-manager/configuration/
# Run with: winget configure <path>

properties:
  configurationVersion: 0.2.0

  metadata:
    winget:
      processor: dscv3

  assertions:
    - resource: Microsoft.Windows.Developer/OsVersion
      directives:
        description: Verify minimum OS version (Windows 11 23H2+)
        allowPrerelease: true
      settings:
        MinVersion: "10.0.22631"

  resources:
    # --- Common Tools ---
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Git
      settings:
        id: Git.Git
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: WindowsTerminal
      settings:
        id: Microsoft.WindowsTerminal
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: 7zip
      settings:
        id: 7zip.7zip
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Firefox
      settings:
        id: Mozilla.Firefox
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Notepad++
      settings:
        id: Notepad++.Notepad++
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: PowerToys
      settings:
        id: Microsoft.PowerToys
        source: winget

    # --- System Utilities ---
    - resource: PSDscResources/WindowsOptionalFeature
      name: VirtualMachinePlatform
      settings:
        Name: VirtualMachinePlatform
        Ensure: Present

    - resource: PSDscResources/WindowsOptionalFeature
      name: Microsoft-Windows-Subsystem-Linux
      settings:
        Name: Microsoft-Windows-Subsystem-Linux
        Ensure: Present

    - resource: Microsoft.Windows.Developer/WindowsCapability
      name: OpenSSH.Server
      settings:
        name: OpenSSH.Server~~~~0.0.1.0
        ensure: Present

{{- if has "personal" .categories }}
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Discord
      settings:
        id: Discord.Discord
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Spotify
      settings:
        id: Spotify.Spotify
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Stremio
      settings:
        id: Stremio.Stremio
        source: winget
{{- end }}

{{- if has "development" .categories }}
    # --- Development Tools ---
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: cURL
      settings:
        id: cURL.cURL
        source: winget
{{- end }}
