# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.2
# WinGet Configuration File (DSC)
# Used on Windows Native to declaratively install packages and configure settings
# See: https://learn.microsoft.com/en-us/windows/package-manager/configuration/
# Run with: winget configure <path>

properties:
  configurationVersion: 0.2.0

  assertions:
    - resource: Microsoft.Windows.Developer/OsVersion
      directives:
        description: Verify minimum OS version (Windows 11 23H2+)
        allowPrerelease: true
      settings:
        MinVersion: "10.0.22631"

  resources:
    # --- Common Tools ---
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Git.Git
      settings:
        id: Git.Git
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: 7zip.7zip
      settings:
        id: 7zip.7zip
        source: winget

{{- if has "personal" .categories }}
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Discord.Discord
      settings:
        id: Discord.Discord
        source: winget
{{- end }}

{{- if has "development" .categories }}
    # --- Development Tools ---
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: cURL.cURL
      settings:
        id: cURL.cURL
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Microsoft.VisualStudioCode
      settings:
        id: Microsoft.VisualStudioCode
        source: winget
{{- end }}

    # --- System Utilities ---
    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Microsoft.PowerToys
      settings:
        id: Microsoft.PowerToys
        source: winget

    - resource: Microsoft.WinGet.DSC/WinGetPackage
      id: Microsoft.WindowsTerminal
      settings:
        id: Microsoft.WindowsTerminal
        source: winget
