{{ $categories := promptMultichoiceOnce
    . "categories"
    "Machine categories(s)"
    (list "work" "personal" "gaming" "multimedia" "development")
-}}
{{- $formFactor := promptChoiceOnce
    . "form_factor" "Form factor"
    (list "desktop" "laptop" "server") -}}
{{- $xdgDesktop := env "XDG_CURRENT_DESKTOP" | lower -}}
{{- $de := "none" -}}
{{- if contains "cosmic" $xdgDesktop -}}
{{-   $de = "cosmic" -}}
{{- else if contains "gnome" $xdgDesktop -}}
{{-   $de = "gnome" -}}
{{- end -}}
{{- $xdgSession := env "XDG_SESSION_TYPE" | lower -}}
{{- $ds := "" -}}
{{- if eq $xdgSession "wayland" -}}
{{-   $ds = "wayland" -}}
{{- else if eq $xdgSession "x11" -}}
{{-   $ds = "x11" -}}
{{- end -}}

data:
    categories:
{{ range $categories }}
    - {{ . }}
{{ end }}
    form_factor: {{ $formFactor }}
    desktop_environment: {{ $de }}
    display_server: {{ $ds }}

hooks:
    read-source-state:
        pre:
{{- if eq .chezmoi.os "linux" }}
            command: .local/share/chezmoi/chezmoi/.chezmoihooks/.ensure-pre-requisites.sh
{{- end }}
{{- if eq .chezmoi.os "windows" }}
            script: .local/share/chezmoi/chezmoi/.chezmoihooks/.ensure-pre-requisites.ps1
{{- end }}

bitwarden:
    unlock: auto

interpreters:
    ps1:
        command: "powershell"
        args: ["-NoLogo", "-NoProfile", "-ExecutionPolicy", "Bypass", "-File"]
