{{ $categories := promptMultichoiceOnce
    . "categories"
    "Machine categories(s)"
    (list "work" "personal" "gaming" "multimedia" "development") 
-}}
{{- $formFactor := promptChoiceOnce
    . "form_factor" "Form factor"
    (list "desktop" "laptop" "server") -}}
{{- $de := promptChoiceOnce
    . "desktop_environment" "Desktop environment"
    (list "gnome" "cosmic" "none") -}}

data:
    categories:
{{ range $categories }}
    - {{ . }}
{{ end }}
    form_factor: {{ $formFactor }}
    desktop_environment: {{ $de }}

hooks:
    read-source-state:
        pre:
            command: .local/share/chezmoi/chezmoi/.chezmoihooks/read-source-state.pre/ensure-pre-requisites.sh

bitwarden:
    unlock: auto
