[Desktop Entry]
Type=Application
Name=Sigma File Manager
Comment=Cross-platform file manager
Exec={{ sigma_file_manager_install_dir }}/{{ sigma_file_manager_appimage_name }}
Icon={{ sigma_file_manager_icon_dir }}/{{ sigma_file_manager_icon_name }}
Terminal=false
Categories=Utility;FileManager;
